* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(85deg, #22283b 65%, #B9B9B9 35%);
    color: #fff;
    font-family: Inter, sans-serif;
    line-height: 1.6;
    position: relative;
    overflow-x: hidden;
}

.stripes {
    background-image: linear-gradient(90deg, #22283b00 33.33%, #2b3450 33.33%, #2b3450 50%, #22283b00 50%, #22283b00 83.33%, #2b3450 83.33%, #2b3450 100%);
    background-size: 240.00px 240.00px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
}

.stripes-shadow {
    background-image: linear-gradient(
        90deg,
        #22283b00 30%,   
        #1f2432 30%,    
        #1f2432 50%,
        #22283b00 50%,   
        #22283b00 80%,
        #1f2432 80%,     
        #1f2432 100%
    );
    background-size: 240.00px 240.00px;
    position: absolute;
    top: 0;
    left: -0.5px;
    width: 30%;
    height: 100%;
    z-index: -2;
}


.site-header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 48px;
}

.nav a {
    margin-left: 24px;
    color: #cfd2e3;
    text-decoration: none;
    font-size: 1rem;
}

.nav a:hover {
    color: #3c5080;
}

.hero {
    max-width: 1280px;
    margin: 100px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 16px;
    align-items: center;
    margin-top: 60px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.hero-text h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 64px;
    margin-bottom: 8px;
}

.hero-text h3 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
    color: #cfd2e3;
}

.hero-text p {
    color: #FFF;
    text-shadow: 3px 1px 1.3px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 26.4px */
    letter-spacing: -0.48px;
    line-height: 1.5;
}

.cta {
    margin-top: 5px;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}

.hero-image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.projects {
    max-width: 1280px;
    margin: 120px auto;
    padding: 0 32px;
}

.section-title {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 48px;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: auto auto auto;
    gap: 32px;
}

.card {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    padding: 16px;
    border-radius: 12px;
}

.card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 16px;
    font-size: 24px;
}

.card p {
    margin-top: 8px;
    font-size: 16px;
    color: #ffffffcc;
}

@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-image img {
        max-height: 400px;
        aspect-ratio: 1/1;
    }
}
